
/* Settings here in wrapper, html, bodym and container to force the footer to remain at the bottom of the page */
html, body {
	height: 100%;
	margin: 0;
	background-color: #5fab44;
  }
  .wrapper {
	min-height: 100%;
	/* Equal to height of footer */
	/* But also accounting for potential margin-bottom of last child */
	margin-bottom: -50px;
  }
  .container-fluid {
	margin-bottom: 15px;
}

.push {
	height: 50px;
	line-height: 50px;
	background-color: #5fab44;
  }

  .footer{
	height: 50px;
	line-height: 50px;
	background-color: #404547;
  }

  .footer p {
	vertical-align: middle;
	display: inline-block;  
	color: white;
  }

  .welcome-header p, .welcome-header h1, .sorry-header p, .sorry-header h1{
	color: white;
  }

  .details-pic {
	background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  .btn-primary {
	  background-color: #5fab44;
	  border: none;
  }
 
.links-box {
	position: absolute;
	bottom: 0;
	width: 90%;
}

.card {
	max-width: 22.5%;
	cursor: pointer;
}

.card-block {
	margin: 10px;
}

.details-text {
	background-color: white;
	border: 2px solid #404547;
    border-radius: 5px;
}

/* Put Navbar stuff here */
.navbar {
	min-height: 80px;
	margin-bottom: 20px;
	background-color: white;
}

.navbar-nav > li > a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 80px;
}

#navbarNav {
	width: 100%;
}

/* Put Form stuff here */
.form-background {
	background-color: white;
}

.custom-input-form {
	background-color: white;
	padding: 15px 15px 5px 15px;
	border: 2px solid #404547;
    border-radius: 5px;
}

/* Save and unsave button CSS.  These share locations and switching one will have detrimental effects on the other unless both are changed. */
.save-movie {
	background-color: white;
	margin-top: 10px;
	width: 100%;
}

.unsave-movie-details {
	margin-top: 10px;
	width: 100%;
}

/* Styles the poster divs for the saved movies page and forces the remove button to the botton of the div */
.poster {
	max-width: 20%;
	min-height: 1px;
	margin: 10px 10px 10px 10px;
	padding: 0px 0px 0px 0px;
	background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	position: relative;
	cursor: pointer;
}

.to-the-bottom {
	position: absolute;
	bottom: 0px;
	right: 0px;
}



/* @media (max-width: 767px) {
	.navbar-nav > li > a {
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;}
} */